<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">{{.intro.heading}}</h2>
    <!-- <p class="mb4 mw6">{{.intro.text}}</p> -->

    <div class="flex-ns mhn2-ns mb3">
      {{ range .products }}
      <div class="ph2-ns w-50-ns">
        {{ if .link}}
        <a href="{{.link}}" class="link">
        {{ end }}
          <div class="h-w-60">
            <div class="h-w-content"><img src="{{.image}}" alt="" class="w-100 h-100 of-cover center db br1"></div>
          </div>
          <p>{{.text}}</p>
        {{ if .link }}
        </a>
        {{ end }}
      </div>
      {{ end }}
    </div>

    <div class="tc">
      <a href="/" class="btn raise">全ての活動を見る</a>
    </div>
  </div>
</div>
